@page "{unitNumber}"
@model HappyStorage.Web.Pages.Unit.ReserveModel
@{
    ViewData["Title"] = "Reserve Unit For Customer";
}

<h1>Reserve Unit <strong>@Model.UnitNumber</strong></h1>

<form method="post">
    <input type="text" hidden="hidden" asp-for="@Model.UnitNumber" />
    <div class="form-group col-md-4">
        <label>Select Customer</label>
        @await Component.InvokeAsync("CustomerPicker")
    </div>
    <div class="form-group col-md-4">
        <button type="submit" class="btn btn-primary">Reserve</button>
        <a asp-page="/Unit/List" class="btn btn-light">Cancel</a>
    </div>
</form>
