@page "/customer/delete/{customerNumber}"
@using HappyStorage.BlazorWeb.Components
@using HappyStorage.Common.Ui.Customers
@inject HappyStorage.Common.Ui.Customers.ViewModels.ICustomerDeleteViewModel viewModel
@inject NavigationManager UriHelper

<h1>Are you sure you want to delete this customer?</h1>

<button type="button" class="btn btn-danger" @onclick="Delete">Delete</button>
<button type="button" class="btn btn-light" @onclick="GoBack">Go Back</button>

@functions {
    [Parameter]
    public string customerNumber { get; set; }

    protected override void OnInitialized()
    {
        viewModel.CustomerNumber = customerNumber;
    }

    protected void Delete()
    {
        viewModel.Delete();
        UriHelper.NavigateTo("/customers");
    }

    protected void GoBack()
    {
        UriHelper.NavigateTo("/customers");
    }
}