@page "/tenant/release/{customerNumber}/{unitNumber}"
@using HappyStorage.BlazorWeb.Components
@using HappyStorage.Common.Ui.Units.Models
@inject NavigationManager UriHelper
@inject HappyStorage.Common.Ui.Tenants.ViewModels.ITenantReleaseViewModel viewModel

<h1>Are you sure you want to release this unit?</h1>

<button type="button" class="btn btn-danger" @onclick="Release">Release</button>
<button type="button" class="btn btn-light" @onclick="GoBack">Go Back</button>

@code {
    [Parameter]
    public string unitNumber { get; set; }

    [Parameter]
    public string customerNumber { get; set; }

    protected override void OnInitialized()
    {
        viewModel.UnitNumber = unitNumber;
        viewModel.CustomerNumber = customerNumber;
    }

    protected void Release()
    {
        viewModel.ReleaseUnit();
        UriHelper.NavigateTo($"/tenant/unitlist/{viewModel.CustomerNumber}");
    }

    protected void GoBack()
    {
        UriHelper.NavigateTo($"/tenant/unitlist/{viewModel.CustomerNumber}");
    }
}