@using System.Reflection;
@using System.ComponentModel.DataAnnotations;

<label class="@(@class)">@displayAttributeName</label>

@functions {
    private string displayAttributeName = "";

    [Parameter]
    private object viewModel { get; set; }

    [Parameter]
    private string property { get; set; }

    [Parameter]
    private string test { get; set; }

    [Parameter]
    private string @class { get; set; }

    protected override void OnInit()
    {
        var typeInfo = viewModel.GetType().GetTypeInfo();
        var prop = typeInfo.GetProperty(property);
        var attribute = prop.GetCustomAttributes(typeof(DisplayAttribute), true).Cast<DisplayAttribute>().Single();
        displayAttributeName = attribute.ShortName ?? attribute.Name ?? prop.Name;
    }
}