@using System.Reflection;
@using System.ComponentModel.DataAnnotations;

<label class="@(@class)">@displayAttributeName</label>

@functions {
    private string displayAttributeName = "";

    [Parameter]
    private PropertyInfo labelFor { get; set; }

    [Parameter]
    private string @class { get; set; }

    protected override void OnInit()
    {
        var attribute = labelFor.GetCustomAttributes(typeof(DisplayAttribute), true).Cast<DisplayAttribute>().Single();
        displayAttributeName = attribute.ShortName ?? attribute.Name ?? labelFor.Name;
    }
}