.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#topbar {
    min-height: 2vh;
    background: #000000;
    color: #fff;
    transition: all 0.3s;
}
    #topbar .topbar-brand {
        background: #1f262d;
    }
    #topbar .brand-text {
        font-size: 2em;
    }

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #1F262D;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar.active {
        margin-left: -200px;
    }

    #sidebar .sidebar-brand {
        padding: 5px;
        height: auto;
        font-size: 28px;
    }

    #sidebar ul li {
        border: 2px solid red;
        padding: 5px;
    }

        #sidebar ul li i.fa:before {
            font-size: 32px;
        }

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
